h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0px;
}
ul {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
}

img {
display: block;
max-width: 100%;
height: auto;
}
.container{
   max-width: 320px;
   margin: 0px auto;
   padding-left: 16px;
   padding-right: 16px;
   
}
@media screen and (min-width: 768px){
    .container{
        max-width: 768px;
        padding-left: 20px;
        padding-right: 20px;
    }
}
@media screen and (min-width: 1152px) {
    .container {
            max-width: 1152px;
            padding-left: 32px;
            padding-right: 32px;
        }
}
@media screen and (min-width: 1440px) {
    .container {
        max-width: 1440px;

    }
}
@media screen and (min-width: 1920px) {
    .container {
        max-width: 1920px;
        padding-left: 182px;
        padding-right: 182px;
    }
}




.section{
    padding-top: 80px;
    padding-bottom: 80px;
}

@media screen and (min-width: 1152px) {
    .section {
            padding-top: 100px;
            padding-bottom: 100px;
        }
}

@media screen and (min-width: 1440px) {
.section {
        padding-top: 140px;
        padding-bottom: 140px;
    }
}


.page {
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    color: #172432;

}

.header{
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
}
.container.header__container{
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 32px;
    padding-right: 32px;
}
@media screen and (min-width:768px){
.container.header__container {
        padding-top: 32px;
        padding-bottom: 32px;
       
    }
    
}
@media screen and (min-width: 1152px) {
    .container.header__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 24px;
        padding-bottom: 24px;
    }
}

.navigation__list{
    display: flex;
    justify-content:center;
    align-items: center;
}
.navigation__list :not(:last-child){
    margin-right: 32px;
}
.navigation__link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
   
    color:#FFFFFF;
    text-decoration: none;
}
/* Home */

.navigation__link:hover,
.navigation__link:focus,
.navigation__link:active{
font-weight: 500;
}
.navigation__item{
    position: relative;
}
.navigation__link--active::before {
    position: absolute;
    content: "";
    border: solid #FF7757;
    width: 100%;
    height: 3px;
    top:25px;
    left: 0px;

}

.navigation__list-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}

.navigation__btn{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height:1.2 ;
     
    padding: 20px 32px;
    color: #FFFFFF;
    background-color: transparent;
    border: transparent;
    border-radius: 12px;
}

.navigation__btn:focus,
.navigation__btn:hover,
.navigation__btn:active{
    background-color: #FF7757;
}
.logo{
    color: #FFFFFF;
}
.logo:hover,
.logo:focus {
    color: #FF7757;
}
.logo__icon {
    width: 140px;
    height: 27px;
    fill: currentColor;
}
@media screen and (min-width: 768px) {
.logo__icon {
        width: 194px;
        height: 46px;
    }
}
@media screen and (min-width: 1152px) {
    .logo__icon {
        width: 234px;
   

    }
}
.mobile-menu__btn {
    /* position: absolute;
    width: 50px;
    height: 50px;
    top: 24px;
    right: 32px; */
    border: transparent;
    background-color: transparent;
}

.hero__wrapper{
    background-image: url(./images/hero_section.jpg);
    background-size: cover;

    background-repeat: no-repeat;
    background-color: #172432;
    color: #FFFFFF;
}

.hero__title {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;

    color: #FFFFFF;
    margin-bottom: 16px;

}
@media screen and (min-width: 768px) {
    .hero__title{
        font-size: 54px;
    }
}
@media screen and (min-width: 1152px) {
    .hero__title {
            font-size: 64px;
        }
}
@media screen and (min-width: 1440px) {
    .hero__title {
            font-size: 84px;
        }
}



.hero__text {
    font-family: 'Rubik';
    font-size: 18px;
    line-height: 1.2;
    margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
    .hero__text {
        font-size: 20px;
    }
}
@media screen and (min-width: 1152px) {
    .hero__text {
        font-size: 24px;
        margin-bottom: 140px
    }
}
@media screen and (min-width: 1440px) {
    .hero__text {
        margin-bottom: 170px
    }
}



.hero__form {
    position: relative;
    width: 288px;
    height: 595px;

    background: #FFFFFF;
    border: transparent;
    border-radius: 16px;
    padding: 20px;
    /* z-index: 1; */
}

@media screen and (min-width: 768px) {
    .hero__form {
        display: flex; 
        flex-direction: column; 
        justify-content: flex-start;  
        align-items:flex-start; 
        width: 659px; 
        height: 216px;  
        padding: 20px 20px 20px 32px;
    }
        .hero__form--wrapper {
            display: flex;
        }
}
@media screen and (min-width: 1152px) {
    .hero__form {
        width: 1056px;
        height: 176px;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }
}
@media screen and (min-width: 1440px) {
    .hero__form {
   
    width: 1205px;
    height: 216px;
    }
}
@media screen and (min-width: 1920px) {
    .hero__form {
        width: 1473px;
        height: 216px;
        padding-left: 182px;
    }
}

.hero__form-label {
    display: block;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
    margin-bottom: 12px;

    text-transform: uppercase;

    color: #767E86;
}
@media screen and (min-width: 768px) {
    .hero__form-label  {
    font-size: 16px;
    }
}


.hero__form-text {
    display: block;
    width: 225.25px;
    padding: 0px 0px 12px;

    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.3;

    color: #172432;
    border: none;
    border-bottom: 1px solid #000000;
    margin-bottom: 40px;
    outline: none;
}
@media screen and (min-width: 768px) {
    .hero__form-text {
        width: 158.5px;
        font-size: 16px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1440px) {
    .hero__form-text {
        width: 195.75px;
        font-size: 18px;
        
    }
}
@media screen and (min-width: 1920px) {
    .hero__form-text {
        width: 225.25px;
        
    }
}

.hero__form-text::placeholder {
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    outline: none;
    color: #172432;

   
}
@media screen and (max-width: 767px) {
    .hero__form-text.hero__form-text--backdown {
        margin-bottom: 80px;
    }
}
@media screen and (max-width: 767px) {
    .hero__form-text.hero__form-text--short-border{
        width: 55px;
        padding: 0px 0px 12px;
    }}

@media screen and (min-width: 768px) {
    .hero__form--text-wrapper {
        margin-right: 40px;
    }
    .hero__form--text-wrap{
        margin-right: 40px;
    }
   
}
@media screen and (min-width: 768px )and (max-width: 1151px){
    .hero__form--wrapper:first-child {
            margin-bottom: 40px;
        }
}

.hero__form-btn {
    display: flex;
    position: absolute;
    bottom: 0px;
    right: 0px;
    width: 288px;
    height: 128px;
    padding: 40px 20px;
    justify-content: space-between;
    align-items: center;
   
    color: #FFFFFF;
    background: #FF7757;
    border: transparent;
    border-radius: 0px 0px 16px 16px;
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.3;
}
@media screen and (min-width: 768px) {
    .hero__form-btn {
    display: flex;
        position: absolute;
        /* bottom: 0px;
        right: 0px; */
        width: 170px;
        height: 216px;
        padding: 60px 20px;
        justify-content: space-between;
        align-items: center;
        border-radius: 0px 16px 16px 0px;
    }
}
@media screen and (min-width:1152px) and (max-width: 1439px) {
    .hero__form-btn {
    width: 170px;
    height: 176px;
    padding: 40px 20px;
}}
@media screen and (min-width: 1440px) {
    .hero__form-btn {
        height: 216px;
    }
}
.hero__form-btn-icon {
    width: 21px;
    fill: #FFFFFF;

}
.section__title {
    position: relative;
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 1.3;

    color: #172432;
    margin-bottom: 52px;
}
@media screen and (min-width: 768px) {
    .section__title {
        font-size: 54px;
    }
}
@media screen and (min-width: 1152px) {
    .section__title {
        font-size: 64px;
    }
}



.section__title::after {
    position: relative;
    display: block;
    content: "";
    width: 227px;
    height: 3px;
    top: 20px;
    border-radius: 3px;
    background-color: #FF7757
}
@media screen and (min-width: 768px) {
    .section__title::after {
        width: 365px;
    }
}

.section__text {
    display: inline-block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;

    color: #767E86;
    margin-bottom: 100px;
}
@media screen and (min-width: 768px) {
    .section__text {
        font-size: 20px;
    }
}
@media screen and (min-width: 1152px) {
    .section__text {
        font-size: 24px;
        width: 760px;
        align-self: stretch;    
    }
}

/* Popular Destinations section */

.destinations__img--inner{
   position: relative;
}
.destinations__img{
    width: 288px;
    height: 320px;
    border-radius: 16px;    
}

@media screen and (min-width: 768px) {
    .destinations__img{
        width: 728px;
        height: 456px;
    }
}
@media screen and (min-width: 1152px) {
    .destinations__img {
            width: 497px;
            height: 661px;
        }
}

.destinations__text-inner{  
position: absolute;
bottom: 40px;
left: 20px;
z-index: 10;
}

.destinations__img-text{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.3;

color: #FFFFFF;
}

.destinations__link{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
   text-decoration: none;
    
    color: #FFFFFF;
 
}

/* Slider  */
.slider{
    position: relative;
    
}


/* Обмежувальна оболонка */
.slider .slick-list {
    overflow: hidden;
   
    margin-bottom: 100px;
}

@media screen and (min-width: 1152px) {
    .slider .slick-list {
        margin-bottom: 0px;
        width: 1120px;
    }
}
@media screen and (min-width:1440px) {
    .slider .slick-list {
            width: 1408px;
        }
}
@media screen and (min-width:1920px) {
.slider .slick-list {
        width: 1798px;
    }
}
/* Стрічка слайдів */

.slider .slick-track {
    display: flex;

}

/* Стрілка вліво */ 
.slick-prev.slick-arrow{
    
    width: 60px;
    height: 66px;
    font-size: 0;
    margin-right: 40px;
   
    background-image: url("./images/arrow-left-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color:#000000;
    border: transparent;
    border-radius: 12px;
}


.slider__toggle{
    position: relative;
    display: flex;
    justify-content: center;
}
@media screen and (min-width: 1152px) {
    .slider__toggle {
            position: absolute;
            top:-25%;
            right: 0px;
            
        }
    
}
.slider__wripper{
    position: relative;
}

/* Стрілка вправо */
.slick-arrow.slick-next {
    width: 60px;
    height: 66px;
    font-size: 0 ;
   
    background: url("./images/arrow-rigth.svg" );
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #FF7757;

    border: transparent;
    border-radius: 12px;
} 


/* Section special offer */
@media screen and (min-width:768px) {
    .section__title--short-underline {
            text-align: right;
        }
        .section__title.section__title--short-underline::after {
            position: absolute;
            display: block;
            content: "";
            width: 241px;
            height: 3px;
            right: 0px;
            top: 115%;
    
            border-radius: 3px;
            background-color: #FF7757
        }
            .section__text.section__text--text-align-right{
              width: 100%;
                text-align: right;
            }
}
.slider__wripper{
    position: relative;
}
.offer-swiper.swiper{
margin-bottom: 60px;
}
@media screen and (min-width:768px){
.offer-swiper.swiper {
    width: 728px;
    
    }  
}
@media screen and (min-width: 1152px) {
.offer-swiper.swiper {
        width: 1088px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width: 1440px) {
    .offer-swiper.swiper {
        width: 1376px;
    }
}
@media screen and (min-width: 1920px) {
    .offer-swiper.swiper {
        width: 1556px;
    }
}

.special-offer__title{
    font-family: 'Mulish'; 
    font-style: normal;
    font-weight: 400;
    font-size: 28px;
    line-height: 1.3;
    color: #767E86;   
    margin-bottom: 10px; 
}

.special-offer__text{
    font-family: 'Rubik';
     font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
       
    color: #172432;
}
@media screen and (min-width:768px) {
    .special-offer__text {
        font-size: 18px;
    }
}


/* Image Container */
.special-offer__img{
   width: 288px;
   min-height: 286px;
}
@media screen and (min-width: 768px){
.special-offer__img {
        width: 728px;
        height: 286px;
    }
}
@media screen and (min-width: 1152px) {
    .special-offer__img {
        width: 342.33px;
        height: 286px;
    }
}
@media screen and (min-width: 1440px) {
    .special-offer__img {
        width: 437.33px;
        height: 286px;
    }
}
@media screen and (min-width: 1920px) {
    .special-offer__img {
        width: 497px;
        height: 286px;
    }
}

.special-offer__price-caption{
 display: inline-block;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height:1.16;
        margin-right: 5px;
    
        color: #767E86;
}
@media screen and (min-width: 1440px) {
    .special-offer__price-caption {
        font-size: 20px;
    }
}

.special-offer__price{
   display: inline-block;
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 32px;
        line-height: 38px;
       
        color: #FF7757;
    
}
@media screen and (min-width: 768px) {
    .special-offer__price {
        display: inline-block;
    }
}
@media screen and (min-width: 1152px) {
    .special-offer__price {
        font-size: 28px;
    }
}
@media screen and (min-width: 1440px) {
    .special-offer__price {
        font-size: 40px;
    }
}
@media screen and (min-width: 1152px) {
  .special-offer__price-blok {
        display: flex;
        align-items: center;
        
    }
}


.special-offer__link{
    display: block;
    width: 127px;
    height: 56px;
    padding: 16px 24px;
   
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
       
    text-transform: uppercase;
    text-decoration: none;
    align-items: center;
    
    color: #FFFFFF;
    background-color: #FF7757;
    border-radius: 12px;
}
@media screen and (min-width:768px) {
    .special-offer__link{
        display: inline-block;
        margin-left: 413px;
    }
}
@media screen and (min-width:1152px) {
    .special-offer__link {
        margin-left: 44px;
    }
}
@media screen and (min-width:1440px) {
    .special-offer__link {
        width: 159px;
        height: 64px;
        padding: 20px 40px;
        margin-left: 72px;

    }
}
@media screen and (min-width:1920px) {
    .special-offer__link {
        width: 159px;
        height: 64px;
        padding: 20px 40px;
        margin-left: 130px;

    }
}

.special-offer__card-text{
        display: flex;
        width: 288px;
        flex-direction: column;
        align-items: flex-start;
        gap: 24px;
        padding: 20px;
        background: #FFF8F1; 
}
@media screen and (min-width: 768px) {
.special-offer__card-text{
    width: 728px;
    padding: 20px 24px;
}
}
@media screen and (min-width: 1152px) {
    .special-offer__card-text {
        width: 341.33px;
        padding: 20px 24px;
    }
}
@media screen and (min-width: 1440px) {
    .special-offer__card-text {
        width: 437.33px;
        padding: 40px 24px;
    }
}
@media screen and (min-width: 1920px) {
    .special-offer__card-text {
        width: 497.33px;
        padding: 40px 24px;
    }
}


.special-offer__item{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: 288px;
        height: 675px;
        padding: 0px;
        overflow: hidden;
        border-radius: 26px 26px;
}
@media screen and (min-width:768px) {
    .special-offer__item {
        width: 728px;
        height: 560px;
    }
}
@media screen and (min-width:1152px) {
    .special-offer__item {
        width: 341.33px;
        height: 623px;
    }
}
@media screen and (min-width:1440px) {
    .special-offer__item {
        width: 437.33px;
        height: 629px;
    }
}
@media screen and (min-width:1440px) {
    .special-offer__item {
        width: 497.33px;
        
    }
}
.special-offer__card-img{
    width: 136px;
    height: 24px;
}

.toggle .toggle__btn.swiper-button-prev{
    width: 60px;
    height: 66px;
    font-size: 0;
    margin-right: 40px;

    /* background-image: url("./images/arrow-left-icon.svg");
    background-repeat: no-repeat; */
    /* background-position: 50% 50%; */
    background-color:#FF7757;
    border: transparent;
    border-radius: 12px;
}

.toggle__btn.swiper-button-next{
    width: 60px;
    height: 66px;
    font-size: 0;

    /* background: url("./images/arrow-rigth.svg");
    background-repeat: no-repeat; */
    /* background-position: 50% 50%; */
    background-color: #FF7757;

    border: transparent;
    border-radius: 12px;
}
.toggle {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0px auto;
}

@media screen and (min-width: 1152px) {
    .slider__toggle {
        position: absolute;
        top: -25%;
        right: 0px;

    }

}


 /* Blog section */
 @media screen and (min-width: 1152px) {
.blog {
        display: flex;
    }
 }
 
 .blog__img{
    width: 288px;
    height: 314px;
    border-radius: 26px;
    margin-bottom: 32px;
    
 }
 @media screen and (min-width: 768px) {
    .blog__img {
            width: 728px;
            height: 555px;
        }
 }
  @media screen and (min-width: 1152px) {
      .blog__img {
          width: 528px;
          height: 686px;
        margin-bottom: 0px;
        margin-right: 32px;
      }
  }
   @media screen and (min-width: 1440px) {
       .blog__img {
           width: 672px;
           height: 802px;
       }
   }
   @media screen and (min-width: 1920px) {
       .blog__img {
           width: 762px;
           height: 873px;
       }
   }
 .blog__title{
    
     font-family: 'Playfair Display';
     font-style: normal;
     font-weight: 400;
     font-size: 40px;
     line-height: 1.3;
     margin-bottom: 24px;
    
     color: #172432;
 }
 @media screen and (min-width: 768px) {
     .blog__title {
        font-size: 54px ;
     }
 }

 @media screen and (min-width: 1152px) {
     .blog__title {
        padding-top: 32px;
     }
 }
 @media screen and (min-width: 1920px) {
     .blog__title {
         padding-top: 100px;
     }
 }

 .blog__text{
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 2.3;
    margin-bottom: 24px;
        
    color: #172432;
 }
  @media screen and (min-width: 1440px) {
      .blog__text {
          font-size: 24px;
      }
  }

 .blog__link{
    display: inline-block;
    font-family: 'Rubik';
    font-style: normal;
     font-weight: 400;
     text-align:center;
     align-items: center;
    font-size: 24px;
    line-height: 2.16;
        
    color: #FF7757;
    text-decoration: none;
    
  
 }
 .blog__link-svg{
    display: inline-block;
    width: 27px;
    height: 20px;
    fill:#FF7757;
    margin-left: 20px;
 }





/* Trip Planners section */
@media screen and (min-width:1152px) {
.trip-plan__container {
        display: flex;
        min-width: 0;
    }
}

@media screen and (min-width: 768px) {
.section__text-wrapper {
        width: 332px;
         
    }
}
@media screen and (min-width: 1152px) {
    .section__text-wrapper {
            width: 394px;
            margin-right: 80px;
        }
}
@media screen and (min-width: 1920px) {
    .section__text-wrapper {
       
        margin-right: 100px;
    }
}
 .trip-plan-swiper.swiper {
    margin-left: 0px;
    margin-right: 0px;
 }
@media screen and (min-width: 1152px) {
    .trip-plan-swiper.swiper {
            width: 647px;
          
        }
}
@media screen and (min-width: 1440px) {
    .trip-plan-swiper.swiper {
        width: 934px;
    }
}
@media screen and (min-width: 1920px) {
    .trip-plan-swiper.swiper {
        width: 1244px;
    }
}
.trip-plan .trip-plan__item:not(:last-child){
    margin-bottom: 40px;
}
@media screen and (min-width:768px) {
.trip-plan__item {
        width: 728px;
        height: 513px;
    }
}
@media screen and (min-width: 1152px) {
    .trip-plan__item {
        width: 250px;
            height: 496px;
        }
}

@media screen and (min-width: 1440px) {
    .trip-plan__item {
            width: 300px;
            height: 545px;
        }
}
@media screen and (min-width: 768px) {
.section__text--smaller-indent {
    display: block;
    width: 394px;
    font-size: 18px;
}
}
.section__text.section__text--smaller-indent{
margin-bottom: 48px;
}


.trip-plan__wrapper-button{
    position: relative;
    width: 288px;
   
    margin-bottom: 96px;
}

.trip-plan__button--black-square{
    display: block;
    position: absolute;
    bottom:60%;
    width: 43px;
    height: 43px;
    background-color: #000000;
}
.trip-plan__button--gray-square {
    display: block;
    position: absolute;
    bottom: -23%;
    right: 22%;
    width: 43px;
    height: 43px;
    background-color:#767E86;
}

.trip-plan__button{
    display: block;
    position: relative;
    width: 186px;
    padding: 20px;
    margin-left: 16px;
  
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    text-align: center;
    text-decoration: none;
    
    color: #FFFFFF;
    background: #FF7757;
    border-radius: 12px;
    z-index: 3;
    
}
.trip-plan__link{
    text-decoration: none;
}

.trip-plan__img{
    width: 288px;
    height: 320px;
    border-radius: 26px;
}
@media screen and (min-width: 768px) {
.trip-plan__img{
    width: 728px;
    height: 350px;
}
}
@media screen and (min-width: 1152px) {
.trip-plan__img{
    width: 250px;
    
}
}
@media screen and (min-width: 1440px) {
    .trip-plan__img{
    width: 300px;
    height: 399px;
    }
}


.trip-plan__text--wrapper{
    display: flex;
    justify-content:space-between
}

.trip-plan__card{
    padding: 20px 0px;
    gap: 12px;
}
.trip-plan__card .trip-plan__text--wrapper{
margin-bottom: 12px;
}

.trip-plan__text{
   display: inline-block;
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.2;
    
    color: #172432;
}
@media screen and (min-width: 768px) and (max-width: 1151px) {
.trip-plan__text{ 
    font-size: 24px;
}
}

.trip-plan__text.trip-plan__text--uppercase{
    text-transform: uppercase;
}

.trip-plan__title {
    
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    line-height: 1.3;
    
    color: #172432;
    margin-bottom: 12px;
}
@media screen and (min-width: 768px) and (max-width:1151px) {
    .trip-plan__title {
        font-size: 32px;
    }
}


/* Destination Gallery section */

.travel-gallery {
    position: relative;
}

.travel-gallery .slick-track :not(:last-child) {
    margin-bottom: 32px;
}

.travel-gallery .slick-track {
    display: block;
}
@media screen and (min-width: 1152px) {
.travel-gallery .slick-track {
        display: flex;
    }
}
.travel-gallery__item.slick-slide {
    overflow: hidden;
}

.travel-gallery__img {
    width: 288px;
    height: 320px;
    border-radius: 26px;
}
@media screen and (min-width: 768px) {
    .travel-gallery__img {
            width: 728px;
            height: 351px;
        }
}
@media screen and (min-width: 1152px) {
    .travel-gallery__img {
        width: 248px;
    }
}
@media screen and (min-width: 1440px) {
    .travel-gallery__img {
        width: 320px;
        height: 469px;
    }
}
@media screen and (min-width: 1920px) {
    .travel-gallery__img {
        width: 365px;
        height: 570px;
    }
}

.travel-gallery .slick-list {
   overflow-x: hidden;
   padding-top: 30px;
    margin-bottom: 100px;
}
@media screen and (min-width: 1152px) {
.travel-gallery .slick-list {
        margin-bottom: 0px;
    }
}
.travel-gallery__item.slick-slide {
    margin-left: 32px;
    
}
.travel-gallery__item.slick-slide.slick-current {
    position: relative;
    top: -30px;
}

/* slick-cloned slick-active */
.travel-gallery--wrapper{
    position: relative;
} 
.travel-gallery__toggle{
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 1152px){
    .travel-gallery__toggle {
           position: absolute;
            top: -170px;
            right: 0px;
        }
}

/* Стрілка вправо */
.travel-gallery .slick-arrow.slick-next {

    position: absolute;
    width: 60px;
    height: 66px;
    bottom: -130px;
    right: 60px;

    font-size: 0;

    background: url("./images/arrow-rigth.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #FF7757;

    border: transparent;
    border-radius: 12px;
}

/* Стрілка вліво */
.travel-gallery .slick-arrow.slick-prev {
    position: absolute;
    width: 60px;
    height: 66px;
    bottom: -130px;
    left: 60px;
    font-size: 0;

    background-image: url("./images/arrow-left-icon.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: #000000;
    border: transparent;
    border-radius: 12px;
}

/* Section Traveler’s Experiences */

.feedback-swiper.swiper {
    width: 288px;
    min-height: 300px;
    padding-top: 60px;
    overflow-x: hidden;
    margin-bottom: 80px;
}
@media screen and (min-width:768px) {
    .feedback-swiper.swiper {
            width: 730px;
        }
}
@media screen and (min-width:1152px) {
    .feedback-swiper.swiper {
        width: 1120px;
    }
}
@media screen and (min-width:1440px) {
    .feedback-swiper.swiper {
        width: 1408px;
    }
}
@media screen and (min-width:1920px) {
    .feedback-swiper.swiper {
        width: 1738px;
    }
}

.feedback__item.swiper-slide{
   position: relative;
    width: 288px;
    height: 466px;
    padding: 60px 20px 32px;

    background: #F5F6F7;
    border-radius: 12px;
    
}
@media screen and (min-width:768px) {
    .feedback__item.swiper-slide {
            width: 500px;
            height: 359px;
            padding: 60px 40px 40px 40px;
    }
}
@media screen and (min-width:1440px) {
    .feedback__item.swiper-slide {
        width: 562px;
        height: 336px;
        
    }
}@media screen and (min-width:1920px) {
    .feedback__item.swiper-slide {
        width: 663px;
        height: 313px;
        padding: 60px 40px 40px 40px;
    }
}

.feedback__text{

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.3;
    
    color: #767E86;
    
}

.feedback__title{
    font-family: 'Playfair Display';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 1.3;
      
    color: #767E86;
}

.feedback__img{
    position: absolute;
    top:-60px;
    border-radius: 50%;
   

}
.feedback__img-star{
    margin-top: 20px;
    margin-bottom: 20px;
}
.toggle{
    position: relative;
   
    width: 288px;
    height: 66px;
}
.toggle__btn.swiper-button-prev{
    position: absolute;
        width: 60px;
        height: 66px;
        margin-top: 0px;
        top: 0px;
        left: 60px;
        /* padding: 20px 28px; */
       
        color: #FFFFFF;
        background-color: #FF7757;
    
        border: transparent;
        border-radius: 12px;
}
.swiper-button-next:after,.swiper-button-prev:after{
    font-size: 26px;

      
}
.toggle__btn.swiper-button-next{
    position: absolute;
        width: 60px;
        height: 66px;
        margin-top: 0px;
        top:0px;
        right: 60px;
        color: #FFFFFF;
        background-color: #000000;
    
        border: transparent;
        border-radius: 12px;
}

@media screen and (min-width:1152px) {
    .sectioin--larger-padding-bottom{
        padding-bottom: 200px;
    }
    
}

/* Newsletter section */

.section--without-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.container{
    position: relative;
}
.newsletter__form{
      
    width: 288px;
    height: 463px;
    padding: 40px 20px;
    
    background: #FFFFFF;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
     border-radius: 20px;
}
@media screen and (min-width:768px) {
   .newsletter__form{
    width: 732px;
    height: 324px;
    padding: 40px;
    margin: 0px auto;
    }
}
@media screen and (min-width:1152px) {
    .newsletter__form {
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        display: flex;
        justify-content: space-between;
        align-items:center;
        
        width: 1080px;
        height: 232px;
        padding: 60px 40px;
       
    }
}

@media screen and (min-width:1440px) {
    .newsletter__form {
        width: 1262px;
        height: 232px;
        padding: 60px 80px;
    
    }
}

.section__title-newsletter{
    font-family: 'Playfair Display';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 1.3;
    
        color: #767E86;
        margin-bottom: 60px;
}
@media screen and (min-width:768px){
    .section__title-newsletter{
        font-size: 54px;  
    }
}
@media screen and (min-width:1152px) {
    .section__title-newsletter {
        font-size: 54px;
        margin-bottom: 0px;
    }
}
@media screen and (min-width:1440px) {
    .section__title-newsletter {
        font-size: 64px;
    }
}


.newsletter__form--label{
display: inline-block;
font-family: 'Rubik';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 1.2;

color: #767E86;
margin-bottom: 16px;
}
@media screen and (min-width:768px) {
    .newsletter__form--label {
        display: block; 
    }
}

.newsletter__form--input{
    display: block;
    width: 248px;
    padding: 24px 0px;
    margin-bottom: 32px;

    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;

    background: #FFE8D4;
    border: transparent;
    border-radius: 12px;
}
@media screen and (min-width:768px) {
    .newsletter__form--input {
        display: inline-block;
        width: 457px;
        padding: 24px 40px;
        margin-right: 28px;
        margin-bottom: 0px;
        text-align: start;
    }
}
@media screen and (min-width:1152px) {
    .newsletter__form--input {
        width: 378px;
        padding: 24px 40px;
        
    }
}
@media screen and (min-width:1440px) {
    .newsletter__form--input {
        width: 372px;
    }
}


.newsletter__form--input::placeholder {
    color: #FF7757;
}

.newsletter__form--button{
    display: block;    
    width: 248px;
    padding: 24px 40px;
    margin: 0px;
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
        
    color: #FFFFFF;
    background-color: #FF7757; 
    border-radius: 12px;
    border: transparent;
}
@media screen and (min-width:768px) {
    .newsletter__form--button {
        display: inline-block;
        width: 163px;
        height: 73px;
        padding: 16px 40px;
        
    }
}

 /* Footer */
 .section--footer{
        background: #172432;   
 }
 @media screen and (min-width:1152px){
    .section--footer {
            padding-top: 240px;
        }
 }
@media screen and (min-width:1152px) {
    .container__footer {
        display: flex;
        justify-content: space-between;
    }
}

 .footer__wrapper{
    margin-bottom: 60px;
 }
 @media screen and (min-width:1152px) {
    .footer__wrapper {
            margin-bottom: 0px;
        }
 }

 .footer__text{
        font-family: 'Rubik';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.2;
    
        color: #FFFFFF;  
 }
.footer__title{
    
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    
     color: #FFFFFF;
     margin-bottom: 16px;
    
}
.footer__list{
    font-family: 'Rubik';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.16;
    
    color: #FFFFFF;
}
.footer__list :not(:last-child){
    margin-bottom: 12px;
}
.logo.footer-logo{
    display: block;
    margin-bottom: 16px;
}
.footer__list--social-networks{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.footer__list--social-networks :not(:last-child){
    margin-right: 24px;
}
.footer__link--social-networks{
    display:flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 12px;
}
.footer__link--social-networks:hover,
.footer__link--social-networks:focus,
.footer__link--social-networks:active{
    
background-color: #FFFFFF;

}
.footer__social-icon{
    fill: #FFFFFF;
}
.footer__social-icon:hover{
fill:#172432
}


